<div class="row">
    <div class="col-sm-6">
        <div [formGroup]="form">
            <div class="form-group">
                <label>First Name</label>
                <input type="tex" class="form-control" formControlName="firstName">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="tex" class="form-control" formControlName="LastName">
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="contactMethod" value="email">
                    <label class="form-check-label">Email</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" formControlName="contactMethod" value="phone">
                    <label class="form-check-label">Phone</label>
                </div>
            </div>
            <div class="form-group" *ngIf="form.get('contactMethod').value === 'email'">
                <label>Email</label>
                <input type="email" formControlName="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group" *ngIf="form.get('contactMethod').value === 'phone'">
                <label>Phone</label>
                <input type="tel" formControlName="phone" placeholder="Phone" class="form-control">
            </div>
        </div>
    </div>
</div>